.navbar {
  color:white;
}

#filter-form {
  text-align: center;
}

#submitBtn {
  padding:10px;
  width: 200px;
}

.placeImage {
  float:left;
  margin-right: 30px;
}

.place li {
  list-style: none;
  display: inline-block;
}
